<%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
  <p>ユーザー名</p>
  <input name="name" value="<%= @user.name %>">
  <p>メールアドレス</p>
  <input name="email" value="<%= @user.email %>">
  <p>アイコン画像</p>
  <input name="image" type="file" />
  <input type='submit' value='編集' />
<% end %>

<%= link_to('ユーザー一覧','/users') %>