<div class='posts-show-item'>
    <%= @post.content %>
  <div class='post-item'>
    <%= @post.created_at %>
  </div>
</div>
<%= link_to('編集',"/posts/#{@post.id}/edit") %>
<%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>